/* Can be harmful */
html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#root {
    height: 100%;
    width: 100%;
}
/*----------------*/

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.Header {
    width: 100%;
    height: 10%;
    background-color: black;
    object-fit: contain;
}

.Main {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    position: relative;
    overflow: scroll;
    overflow-x: hidden
}

.Footer {
    background-color:black;
    width: 100%;
    height: 5%;
}


.NavButton {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    background-color: #eae0c2;
    border-radius: 5px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 21px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin: 1%;
}

    .NavButton:hover {
        background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
        background-color: #ccc2a6;
    }

    .NavButton:active {
        position: relative;
        top: 1px;
    }

.Error {
    color: red;
}

.NoBulletList {
    list-style: none;
}

.Form {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}
    .Form label {
        text-align:right;
    }
        .Form label:after {
            content:":";
        }

.Announcements {
    max-width: 100%;
    margin:5rem auto;
    margin-left: 1%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.Announcement {
    background-color: lightgray;
    border: solid;
    border-width: medium;
    border-color: black;
    margin: 5px;
    border-radius: 5px;
}

.AnnouncementDetails {
    background-color: lightgray;
    border: solid;
    border-width:thin;
    border-color: black;
    margin: 5%;
    border-radius: 5px;
}

    .AnnouncementDetails img {
        max-width: 5%;
    }

.Addresses {
    max-width: 100%;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.Address {
    background-color: lightgray;
    border: solid;
    border-width: thin;
    border-color: black;
    margin: 5px;
    border-radius: 5px;
}

.Account {
    background-color: lightgray;
    border: solid;
    border-width: thin;
    border-color: black;
    margin: 5px;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
}
    .Account img {
        max-width: 5%;
    }